@use '../../styles/partials/mixins' as *;

.projects {
    &__top {
        display: flex;
        justify-content: flex-start;
        margin: 2rem 1rem 0 1rem;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            margin-left: 5rem;
        }
    }

    &__bott {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
    }

    &__main {
        &-img {
            &--img {
                width: 360px;

                @include tablet {
                    width: 50%;
                    height: 50%;
                }

         
            }
        }

        &-exp {
            color: rgb(168, 166, 166);
            margin: 1rem;
            display: flex;
           flex-direction: column;
           gap: 0.4rem;
           padding-bottom: 1rem;
          
        }

        &-desc {
            font-size: .7rem;
            color: rgb(168, 166, 166);
            @include tablet {
                font-size: .8rem;
                margin: 1rem 5rem 1rem 5rem;
               }

               @include desktop {
                font-size: 1.2rem;
                margin: 1rem 10rem 1rem 10rem;
               }
        }

        &-tech {
            font-size: .8rem;
            color: rgb(209, 206, 206);

            @include desktop {
                font-size: 1.2rem;
            }
        }

        &-name {
            font-size: 1.5rem;
            color: white;

            @include desktop {
                font-size: 2.5rem;
                margin-top: 1rem;
            }
        }

        &-link {
           
        text-decoration: none;
         padding-top: .5rem;
            font-weight: 700;
            background: -webkit-linear-gradient(rgb(253, 255, 255), #b99ad5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            
            &:link,
            &:visited {
              color: inherit; 
            }
      
            &:hover,
            &:active {
              color: inherit; 
              text-decoration: none; 
            }

            @include desktop {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
           
        }
    }
}



.hr {
    &__box {
        &-top {
            border-bottom: 1.2px solid;
            border-image: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));
            border-image-slice: 1;
            box-shadow: 0 0 8px 2px #78dae5;
            transform: rotate(-3deg);
        }

        &-bottom {
            border-bottom: 1.2px solid;
            border-image: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));
            border-image-slice: 1;
            box-shadow: 0 0 8px 2px #78dae5;
            transform: rotate(3deg);
        }
    }
}

h2 {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(white, #78dae5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 1rem 0 1rem 0;

    @include desktop {
        font-size: 2.2rem;
        margin: 2rem 0 2rem 0;
    }
}

.closing {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(rgb(153, 154, 154), #2b4e52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 0 0 2rem 0;

    @include tablet {
        margin: 0 2rem 1rem 0;
    }

    @include desktop {
        font-size: 2.2rem;
        margin: 2rem 4rem 2rem 0;
    }
}

.longer {
  
        height: 50%;
       

        @include desktop {
            height: 50%;
        }
    
}


