@use '../../styles/partials/mixins' as *;

.main {
    margin: 2rem 1rem 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    

    @include desktop {

        flex-direction: row;
    margin: 5rem;
    gap: 2.5rem;
    }
   
    &__mod {
       height: 170px;
       width: 170px;

        &--mobile {
            position: absolute;
            background: transparent;
            top: -45%;
            left: 45%;
            width: 170px;
            height: 170px;

            @include tablet {
                display: none;
            }
        
        }


        &--desktop {
            display: none;   
            
            @include tablet {
                display: flex;
                position: absolute;
                width: 170px;
                height: 170px;
                background: transparent;
         

            }
        }

        
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @include tablet {
            flex-direction: row-reverse;
            align-items: flex-start;
            margin: 4rem 4rem 7rem 2rem;
            display: flex;
            gap: 2rem;
        }

        &-dots {
            position: absolute;
            top: 10%;
            left: 5%;
             height: 50%;
             width: 100%;
            background:transparent url("../../assets/images/dots4.png") ;
              background-repeat: repeat-x;
              overflow: hidden;
              background-size: contain;
            

            @include tablet {
                height: 100%;
                width: 100%;
                overflow: hidden;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
            }


            &-img {
                height: 300px;
                width: 300px;
                position: absolute;
                top: 15%;
                left: -5%;
                opacity: 0.3;
                background-repeat: repeat-x;

                @include tablet {
                //    top: -30%;
                //    left: 42%;
                }
       
            }
        }
        
        &-img {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            z-index: 1;
            box-shadow: 0px 0px 60px  #78dae5;
        }

        &-cont {
            margin-top: 5rem;
            position: relative;
            height: 170px;
            width: 170px;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include tablet {
                margin: 0;
                flex-direction: flex-start;
            }
            
        }


        @include desktop {
            width: 50%; 
            margin-left: 3rem;
        }


    }
    &__name {
        color:rgb(209, 206, 206);
        font-weight: 700;
        position: absolute;
        top: 75%;
        left: -25%;
        z-index: 1;


        @include tablet {
           display: none;
        }
        
       &--desktop {

    display: none;
    @include tablet {
           display: block;
           color: white;
           font-size: 1.2rem;
           font-weight: 700;
           background: transparent;
       }
    }
    }

    &__me {
        color: rgb(168, 166, 166);
        font-size: .7rem;
        margin: 1rem 2rem 2rem 2rem;
        padding-top: 2rem;

        @include tablet {
            font-size: .9rem;
            display: flex;
            flex-direction: column;
            z-index: 1;
            gap: 1.7rem;
            padding-bottom: .5rem;
            margin: 0;
            background: transparent;
        }

        @include desktop {
            font-size: 1.2rem;
            margin: 1rem 0 2rem 0;
        }

        &-desc {
            z-index: 2;
            position: relative;

            @include tablet {
                background: transparent;
            }
            
        }

        &--bold {
            font-weight: 700;
            color:rgb(209, 206, 206);

            @include desktop {
                font-size: 1.5rem;
            }
        }
    }
}

.design {
    &__cross {
        background:transparent url("../../assets/images/cross.png") ;
    position: absolute;
    z-index: 1000;
    left: 50%;
    height: 100px;
    width: 100px;
    top: 75%;
    background-size: contain;
    background-repeat: no-repeat;

    }

    &__triangle {
        background:transparent url("../../assets/images/triangle.png") ;
        position: absolute;
        z-index: 1000;
        left: 0;
        height: 100px;
        width: 100px;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;

        @include tablet {
            top: -10%;
        }
    
    }

    &__line {
        background:transparent url("../../assets/images/line.png")  ;
        position: absolute;
        // z-index: 1000;
        left: 5%;
        height: 100px;
        width: 100px;
        bottom: -10%;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(45deg);
    }

    &__sq2 {
        background:transparent url("../../assets/images/sq2.png")  ;
        position: absolute;
        z-index: 1000;
        left: 70%;
        height: 100px;
        width: 100px;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(45deg);

        @include tablet {
            top: -30%;
            left: 42%;
        }
    }

    &__sq {
        background:transparent url("../../assets/images/sq.png")  ;
        position: absolute;
        left: 70%;
        bottom: 10%;
        height: 100px;
        width: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(45deg);

        @include tablet {
            top: 130%;
            left: 30%;
        }
    }
}