@use '../../styles/partials/mixins' as *;


.main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    @include tablet {
        margin-top: -2rem;
    }

    @include desktop {
        flex-direction: row;
    margin: 1rem;
    gap: 2.5rem;
    }

    &__heading {
        font-size: 1.7rem;
        font-family: "Bowlby";
        text-align: left;
        display: flex;
        color: #2d2b2b;

  

        &-p {
           text-align: left;
           padding-top: 1rem;
           color: #2d2b2b;

           @include desktop {
            font-size: 2.5rem;
       
           }
        }

        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            font-size: 3.5rem;
        }
    }

    &__intro {
       width: 100%;
       margin: 1rem 2rem 7rem 2rem;

       @include tablet {
        margin: 2rem 0 7rem 0;
       }

       &-img {
        height: 50%;
        width: 50%;
        @include mid {
            height: 40%;
            width: 40%;
        }
       }

       &-text {
        font-family: "Bowlby";
        font-size: 1.7rem;
        position: absolute;
        color: #2d2b2b;
        top: 38%;
        padding: 0 1rem 0 1rem;

        @include tablet {
            font-size: 2.8rem;
            top: 45%;
            width: 80%;
            left: 7%;
        }

        @include desktop {
            font-size: 4.8rem;
            top: 50%;
        }

       }
    }


}

