@use '../../styles/partials/mixins' as *;

.contact { 
    padding: 2rem 1rem;
    &__heading {
        color: #151414;
        font-size: 1.7rem;
        font-family: "Bowlby";
        text-align: left;
        padding-left: 1rem;

        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            font-size: 3.5rem;
            padding: 4rem 3.5rem;
        }
    }

    &__p {
        padding: 2rem 1rem;
        text-align: left;

        @include tablet {
            font-size: 1.3rem;
            width: 50%;
        }

        @include desktop {
            font-size: 1.9rem;
            width: 50%;
        }
    }

    &__box {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            gap: 2rem;
            padding-top: 0;
        }

        &-social {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding-top: 1rem;
            flex-direction: row;
            align-items: center;
            padding-right: 1rem;

            @include tablet {
                gap: .3rem;
            
             
            }
        }

        &-right {
            @include tablet {
                gap: .3rem;
                display: flex;
                flex-direction: column;
            }
        }

        &-links {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          @include tablet {
            font-size: 1.2rem;
          }
          @include desktop {
            font-size: 1.9rem;
          }
        }
        
        @include tablet {
            align-items: center;
        }
    }

    &__img {
        height: 40px;
        width: 40px;

        @include desktop {
            height: 80px;
            width: 80px;
        }
    }

    &__icon {
        height: 25px;

        @include desktop {
            height: 50px;
        }
    }
    
}

.lk {
    color: #151414;
    text-decoration: none;
    
  
}