@use '../../styles/partials/mixins' as *;

.contact { 
    
    &__top {
            display: flex;
            margin: 1rem;

            @include tablet {
                margin: 2rem 0 0 2rem;
            }

            @include desktop {
                margin: 3rem 0 2rem 4rem;
            }
        }

    &__desktop {
        @include tablet {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 1rem;
        }

        @include desktop {
            gap: 5rem;
           margin-right: 2rem;
           justify-content: normal;
        }
    }


    &__bott {
        display: flex;
        justify-content: flex-end;
        margin: 2rem 1rem 0 0 ;
        
    }
    &__heading {
        font-size: 1.5rem;
        color: white;

        @include desktop {
            font-size: 2.5rem;
        }
        
    }
    
    &__desc {
        font-size: .7rem;
        color: rgb(168, 166, 166);
        margin: 1rem;
        line-height: 1.2rem;

        @include tablet {
            font-size: .9rem;
        }

        @include desktop {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }


    &__sec {
        @include tablet {
            width: 50%;
            margin-right: 2rem;
        }
    }

    &__details {
    display: flex;
    flex-direction: column;

    @include tablet {
        align-items: flex-start;
        margin-left: 4rem;
    }

   
        &-link {
            font-size: 1rem;
            color: white;
            line-height: 1.5rem;
            @include desktop {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }
    }



    &__hr {
        border-bottom: 1.2px solid;
        border-image: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));
        border-image-slice: 1;
        box-shadow: 0 0 8px 2px #78dae5;
        transform: rotate(3deg);
        
    }

    .underline {
        text-decoration: underline;
    }
}