.projects {
    &__top {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
    }
}










.hr {
    &__box {
        &-top {
            border-bottom: 1.2px solid;
            border-image: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));
            border-image-slice: 1;
            box-shadow: 0 0 8px 2px #78dae5;
            transform: rotate(-3deg);
        }

        &-bottom {
            border-bottom: 1.2px solid;
            border-image: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));
            border-image-slice: 1;
            box-shadow: 0 0 8px 2px #78dae5;
            transform: rotate(3deg);
        }
    }
}

h1 {
    font-size: 1rem;
    background: -webkit-linear-gradient(white, #78dae5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

