@use '../../styles/partials/mixins' as *;



.container {
    margin: 1rem;
    justify-content: space-between;

    @include tablet {
        margin: 2rem;
    }
}

.nav {
    padding: 1rem;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;

    
    @include desktop {
        height: 80px;
    }
    

    &__logo {
       background: transparent;

        &-img {
            height: 100px;
            width: 100px;
            background: transparent;
            margin-left: -1.5rem;
            margin-top: 0.5rem;

            @include tablet {
                height: 150px;
                width: 150px;
                margin-left: -2rem;
            }

            @include desktop {
                height: 200px;
                width: 200px;
                margin-left: -4rem;
            }
        }
        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            margin-left: 4rem;
       
        }
    }

    &__menu {

        &--mobile {
            @include tablet {
                display: none;
            }
        }

        &--desktop {
            display: none;
            @include tablet {
                display: flex;
            }
        }

        @include tablet {
            margin-right: 2rem;
        }

        @include desktop {
            margin-right: 4rem;
            font-size: 1.2rem;
        }
        &-icon {
            height: 20px;
            width: 20px;
            color: rgb(209, 206, 206);
            
            @include  desktop {
                height: 30px;
                width: 30px;
            }


            &-icon:hover {
                color:rgb(57, 214, 188);
            }

            &-icon:active {
                color:rgb(57, 214, 188);
            }
        }

        &-items {
            list-style: none;

            @include tablet {
                display: flex;
                gap: 2rem;
                padding-right: 2rem;
            }

            @include desktop {
                display: flex;
                gap: 4rem;
                padding-right: 4rem;
                font-size: 1.5rem;
                
            }
            a {
                color:  #0D1317;
                text-decoration: none;

                  
        }
    }
    }
}




.link {
    position: relative;
    
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -0.7rem;
    left: 0;
    background-image: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hash {
    color: linear-gradient(to right, white, rgb(106, 204, 227), rgb(6, 147, 169));

}
